@use "./_variables" as *;
@use "./_reset";

body {
  background-color: var(--figma-color-bg);
  //color: var(--figma-color-text);
  font-family: var(--system-ui);
  font-weight: 400;
  font-size: 0.75rem;
  margin: 8px;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 4px;
}

.color-card {
  padding: 16px;
}

.color-info {
  .color-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .color-value {
    font-size: 14px;
    margin: 4px 0;
  }
}

.no-colors {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--system-ui);
  font-size: 16px;
  color: #666;
  text-align: center;
}

.meta-content {
  font-family: var(--mono-ui);
  font-size: .6875rem;
  letter-spacing: .00344rem;
  line-height: 1rem;
}